@font-face {
  font-family: 'Geometria';
  src: url("fonts/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*styles for all document*/
*{
    box-sizing: border-box;
}
a {
  text-decoration: none;
  color: rgba(60, 33, 81, 1);;
}

/*header*/
header {
    
}
    .header-wrapper-upper {
    height: 90px;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 1.3%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    }
        .header-wrapper-upper-rightblock {
            display: flex; 
            justify-content: space-between;
        }
            .header-wrapper-upper-sighin-btn {
                display: block;
                width: 200px;
                height: 40px;
                padding-top: 10px;
                text-align: center;
                margin: 20px 40px 20px 0;
                border-radius: 20px;
                background-color: rgba(23, 162, 99, 1);
                font-size: 18px;
                font-family: 'Geometria', Arial, sans-serif;
                font-weight: 800;
                color: rgba(60, 33, 86, 1);
                cursor: pointer;
            }   
                .main-screen-title-lowerpart-btn a {
                color: rgba(0, 0, 0, 1);
                
            }  
            .header-upper-language {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
                .header-language-item {
                    padding: 0 5px;
                }
                    .header-language-item a{
                        font-family: 'Geometria', Arial, sans-serif;
                        color: rgba(60, 33, 86, 1);
                        font-weight: 800;
                    }
                    .header-language-item-active a{
                        color: rgba(238, 88, 38, 1);
                    }
    .header-wrapper {
    height: 40px;
    background-color: rgba(60, 33, 86, 1);
    padding: 0 1.3%;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    }
        .header-logo-box {
            display: flex;
        }
            .header-logo-box-img {
                margin-top: 5px;
                margin-right: 1%;
            }
        .header-menu {
            display: inline-flex;
            align-items: center;
             text-align: center;             
        }
            .header-menu-item {
                display: block;
                padding: 0 10px;
            }
                .header-menu-item a{
                    font-family: 'Geometria', Arial, sans-serif;
                    color: rgba(255, 255, 255, 1);
                                    
                }
                .header-menu-item a:hover{
                    font-family: 'Geometria', Arial, sans-serif;
                    color: rgba(238, 88, 38, 1);
                   
                }
    .mobile-menu {
        display: none;
    }
    .mobile-menu-items{
        display: none;
    }
    .destination-point-black {
        color: rgba(60, 33, 86, 1);
    }
    .destination-point-white {
        color: #fff;
    }
    .destination-point-yelow {
        color: rgba(238, 88, 38, 1);
    }
/*main screen section*/
.main-screen-title-upperpart {
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    margin: 0 7%;
}
    .main-screen-title-upperpart-text {
        margin-top: 100px;
    }
        .main-screen-title-upperpart-text *{
            font-size: 48px;
            font-family: 'Geometria', Arial, sans-serif;
            color: rgba(60, 33, 86, 1);
            Line-height: 0.8;
        }
            .main-screen-title-upperpart-text p{
                font-size: 40px;
                font-weight: 800;
            }
        .main-screen-title-upperpart-img {
            margin-top: 40px;
        }

.main-screen-title-lowerpart {
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    margin-left: 7%;
}
    .main-screen-title-lowerpart-text {
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 22px;
        font-family: Arial, sans-serif;
        color: rgba(60, 33, 86, 1);
        font-weight: 200;
    }
        .main-screen-title-lowerpart-btn {
            display: block;
            width: 250px;
            height: 60px;
            padding-top: 20px;
            text-align: center;
            margin: 40px auto;
            border-radius: 30px;
            background-color: rgba(238, 88, 38, 1);
            font-size: 18px;
            font-family: 'Geometria', Arial, sans-serif;
            font-weight: 800;
            color: rgba(60, 33, 86, 1);
            cursor: pointer;
        }   
            .main-screen-title-lowerpart-btn a {
            color: rgba(60, 33, 86, 1);
            
        }  
        .main-screen-title-lowerpart-img {
            margin-top:-10px;
            margin-right: 5%;
        }

/*about service section*/        
.about-service {
    margin-top: 90px;
    padding-top: 3px;
    padding-bottom: 40px;
    background-color: rgba(60, 33, 86, 1);
    text-align: center;
}
    .about-service-header {
        font-size: 48px;
        font-family: 'Geometria', Arial, sans-serif;
        color: rgba(255, 255, 255, 1);
        Line-height: 0.8;
}

    .about-service-text {
        padding: 30px 10%;
        line-height: 1.5;
        color: rgba(255, 255, 255, 1);
        font-family: 'Geometria', Arial, sans-serif;
    }

/*how-it-work section*/ 

.how-it-work {
    margin-top: 90px;
    padding: 0 2%;
    padding-bottom: 60px;
    text-align: center;
}
.how-it-work-header h2 {
    font-size: 48px;
    font-family: 'Geometria', Arial, sans-serif;
    color: rgba(60, 33, 86, 1);
    text-align: center;  
}

    .how-it-work-steps { 
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(5, 1fr);
        padding-top: 30px;

    }
        .how-it-work-step {
            font-size: 16px;
            font-family: 'Geometria', Arial, sans-serif;
            color: rgba(255, 255, 255, 1);
            font-weight: 800;
            padding: 20% 5%;
            border-radius: 10px;
            background-color: rgba(91, 155, 213, 1);
        }
        .step1 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
            background-color: rgba(23, 162, 99, 1);
        }
        .arrow1 {
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 2;
            display: flex;
            margin: auto;
                   
        }
        .arrow img {
            width: 90%; 
            display: block;
            
        }
        .arrow2 {
            grid-column-start: 7;
            grid-column-end: 9;
            grid-row-start: 2;
            grid-row-end: 3;
            display: flex;
            margin: 10px auto;
                    
        }

        .step2 {
            grid-column-start: 7;
            grid-column-end: 9;
            grid-row-start: 1;
            grid-row-end: 2;
            
        }
        
        .step3 {
            grid-column-start: 7;
            grid-column-end: 9;
            grid-row-start: 3;
            grid-row-end: 4;
            
        }
        .arrow3 {
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 3;
            grid-row-end: 4;
            display: flex;
            margin: auto;
                 
        }
            .arrow3 img {
                transform:rotate(180deg); 
            }
            
        .step4 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
            
        } 
        .arrow4 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 5;
            display: flex;
            margin: 10px auto;
                    
        }  
        .step5 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 5;
            grid-row-end: 6;
            
        }
        .arrow5 {
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 5;
            grid-row-end: 6;
            display: flex;
            margin: auto;
                   
        }
        .step6 {
            grid-column-start: 7;
            grid-column-end: 9;
            grid-row-start: 5;
            grid-row-end: 6;
            background-color: rgba(238, 88, 38, 1);
        }
    
    
/****services-news-block   section*/

    .services-news-header {
        font-size: 48px;
        font-family: 'Geometria', Arial, sans-serif;
        color: rgba(60, 33, 86, 1);
        text-align: center;
    }    
    .services-news-block {
        display: flex;
        flex-wrap: wrap;
        padding: 2%;
    }
        .services-news-item {
            width: 32%;
            text-align: center;
            font-family: 'Geometria', Arial, sans-serif;
            color: rgba(60, 33, 86, 1);
            cursor: pointer;
        }
            .services-news-item-header {
                font-size: 28px;
                font-weight: 800;
            }
                 .services-news-item-header:hover {
                font-size: 28px;
                font-weight: 800;
                text-decoration: underline;
            }
            .services-news-item-text {
                font-size: 18px;
                padding: 5% 2%;
            }
                .services-news-item-text:hover {
                font-size: 18px;
                padding: 5% 2%;
                text-decoration: underline;
            }

/****faq   section*/

.faq-question {
    padding: 27px 50px 27px 0;
    padding-top: 15px;
    padding-bottom: 14px;
    
}
.faq-question-small {
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    border-top: 1px solid #eee;
    padding: 10px 0; 
}
.faq-question-small-block {
    padding-right: 5%;
    font-family: 'Geometria',Arial,sans-serif;
    color: rgba(60, 33, 81, 1);
}
    .faq-question-small-header {
        font-weight: 600;
        line-height: 1.35;
        font-size: 22px;
        padding-bottom: 10px;
        
    }
    .faq-question-small-text {
        font-size: 16px;
        padding-bottom: 10px;
        display: none;
        color: rgba(60, 33, 81, 1);
    }
    .faq-question-small-plus {
        width: 30px;
        height: 30px;
        padding: 10px; 
        color: #ffffff;
        background: #ffffff url('images/plus.svg') 50% 50% no-repeat;
        cursor: pointer;
        border-radius: 50%;       
    }
    .faq-question-small-plus:hover {
        width: 30px;
        height: 28px;
        color: rgba(238, 88, 38, 1);
        background: rgba(238, 88, 38, 1) url('images/plus-white.svg') 50% 50% no-repeat;
        cursor: pointer;
        border-radius: 50%;
        background-color: rgba(238, 88, 38, 1);
        padding: 10px; 
        
    }
    .faq-question-small-close {
        display: none;
        width: 30px;
        height: 30px;
        color: rgba(238, 88, 38, 1);
        background: rgba(238, 88, 38, 1) url('images/plus-white-rotate2.svg') 50% 50% no-repeat;
        cursor: pointer;
        border-radius: 50%;
        background-color: rgba(238, 88, 38, 1);
        padding: 14px;
        margin-left: -20px;
    } 


    


/*****footer****/
footer {
    /*height: 160px;*/
    background-color: rgba(60, 33, 86, 1);
    font-family: 'Geometria', Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
     display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
    .footer-central-box-copiraight {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        padding-top: 10px;
    }
    .footer-central-box-contacts {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 2;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        padding-top: 10px;
    }
    



/*******************article page**********/
.article {

width: 80%;
margin: 50px auto;
padding: 20px;
 border-width: 15px;
border-color: rgba(60, 33, 86, 1);
/*height: 900px;*/
 box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.3);
}


/**********aplication form page***********/
.aplform-text {
    padding-top: 15px;
    text-align: center;
    line-height: 1.5;
}
.aplform-form {
display: block;
font-family: 'Geometria',Arial,sans-serif;
   
}

.aplform-form input {
    display: block;
    width: 85%;
    margin: 15px 5%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: 'Geometria',Arial,sans-serif;
    font-size: 16px;
}
.aplform-form button {
    margin: 15px 5%;
    font-family: 'Geometria',Arial,sans-serif;
    font-size: 16px;
}





/*********************tablet version************/
@media only screen and (max-width: 992px) {
.header-menu { 
    display: none;
}
.mobile-menu {
 display: block;
 cursor: pointer;       
    }
}

.mobile-menu-items{
display: none;
padding-bottom: 10px;
background-color:rgba(60, 33, 81, 1);
color: rgba(255, 255, 255, 1.0);
}
.mobile-menu-items-block {
    display: flex;
    margin: 0 auto;
    padding-top: 18px;
    width: 310px;
    flex-direction: column;
}
    .mobile-menu-item {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    }
        .mobile-menu-item a{
        font-family: 'Geometria', Arial, sans-serif;
        color: rgba(255, 255, 255, 1);
        }
            .mobile-menu-item a:hover{
                font-family: 'Geometria', Arial, sans-serif;
                color: rgba(238, 88, 38, 1);
            }
            .mobile-menu-item a:active{
                    font-family: 'Geometria', Arial, sans-serif;
                    color: rgba(238, 88, 38, 1);
                }
#close-mobile-menu {
  width: 36px;
  float: right;
  
}






/*********************mobile version************/
@media only screen and (max-width: 760px) {
header {
height: 140px;
}
.header-wrapper {
flex-direction: column;
}
.mobile-menu-items-block {
    margin-top: -10px;
    
}    
/*****mobile main screen**/
.main-screen-title {
    /* padding-bottom: 15%; */
    /* background:  url('images/3-trans.png') no-repeat  100% 65%, #ffffff url('images/3-trans black.png') no-repeat  55% 100%; */
}


.header-wrapper-upper-rightblock {
flex-direction: column-reverse;
align-items: flex-end;
}
.header-wrapper-upper-sighin-btn {
    width: 150px;
    margin: 10px 0 20px 0;
} 
.header-upper-language {
    justify-content: flex-end;  
    padding-top: 20px;
}
.main-screen-title-upperpart {
margin: 0 4%; 
justify-content: center;
}
    .main-screen-title-upperpart-text {
        margin-top: 50px;
        text-align: center;
    }
        .main-screen-title-upperpart-text h1{
        font-size: 30px;
        }
        .main-screen-title-upperpart-text p{
        font-size: 30px;
        }
    .main-screen-title-upperpart-img {
        display: none;
    }
.main-screen-title-lowerpart {
margin-left: 4%;
justify-content: center;
padding-bottom: 20px;
}
.main-screen-title-lowerpart-text {
    padding: 5% 0;
    font-size: 18px;
    text-align: center;    
}
.main-screen-title-lowerpart-btn {
width: 200px;
font-size: 16px;
}
.main-screen-title-lowerpart-img {
    display: none;
}
.main-screen-title-lowerpart-text {
    font-weight: 600;
}




.about-service-header {
    font-size: 24px;
}

/*how it work mobile block*/
.how-it-work-header h2 {
    font-size: 38px;
}
.how-it-work-step {
    font-size: 14px;
    padding-top: 30%;
}
.arrow2 img, .arrow4 img {
    width: 90%; 
    display: block;
    
}
.arrow img {
    width: 100%; 
    display: block;
    
    
}
/*services-news mobile block*/
.services-news-header {
    font-size: 38px;
}
.services-news-block {
    flex-direction: column;
   
}
    .services-news-item {
        width: 100%;
        padding-bottom: 30px;
    }
        .services-news-item-header {
            font-size: 22px;
        }


/*faq*/
.faq-question {
    padding: 0;
}
.faq-question-small {
    margin: 0 5%
}

/***footer*/
.footer-logo-box-img {
    display: none;
}
.footer-central-box-copiraight {
        grid-column-start: 1;
        grid-column-end: 7;
}
.footer-central-box-contacts {
        grid-column-start: 1;
        grid-column-end: 7;
}

/*******************mobile article page**********/
.article {

width: 90%;

}

}